p{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}
.border{
    display: grid;
    grid-template-columns: 76px 1fr;
    width: 350px;
    height: 190px;
}
.Oliver{
    margin: 8px 0px 0px 3px;
    width: 70;
    height: 70px;
    border-radius: 50%;
}

.rightsect{
    display: grid;
    grid-template-rows: 88px 1fr;
}
.text{
    margin: 10px 0px 0px 10px;
}
.linkborder{
    display: flex;
    margin: 10px 0px 0px 10px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    width: 258px;
    height: 78px;
}
.linkleft{
    width: 90px;
    height: 78px;
    border-radius: 14px 0px 0px 14px;
}
.thumbnail{
    width: 90px;
    height: 78px;
    border-radius: 14px 0px 0px 14px;
    object-fit: cover;
}

.linkright{
    width: 195px;
    height: 78px;
    border-radius: 0px 14px 14px 0px;
}
